body{
  background-color:#FAC0ED;
}
.flex-main{
  display:flex;
  flex-direction:row;
}
.profile-card{
  width:25%;
  background-color:#D2D2F3;
  padding:2%;
  margin:2%;
}
.content-card{
  width:75%;
  background-color:#FFF;
  padding:2%;
  margin:2%;
}
.profile-image{
  display:block;
  border-radius: 50%;
  vertical-align: middle;
  margin-left:auto;
  margin-right: auto;
}
h2,h3,h4{
  text-align:center;
}

@media only screen and (min-width:320px) and (max-width:468px){
  .flex-main{
    display:flex;
    flex-direction: column;
  }
  .profile-card{
    width: 100%
    background-color:red;
    padding:3%;
    margin: 2%;
  }
  .content-card{
    width:100%;
    background-color:red;
    padding:3%;
    margin:2%;
  }
}
@media only screen and (min-width:469px) and (max-width:768px){
  .flex-main{
    display:flex;
    flex-direction: column;
  }
  .profile-card{
    width: 100%
    background-color:#e46124;
    padding:3%;
    margin: 2%;
  }
  .content-card{
    width:100%;
    background-color:#e46124;
    padding:3%;
    margin:2%;
  }
}
@media only screen and (min-width:768px) and (max-width:1024px){
  .flex-main{
    display:flex;
    flex-direction: column;
  }
  .profile-card{
    width: 100%
    background-color:#ddd;
    padding:3%;
    margin: 2%;
  }
  .content-card{
    width:100%;
    background-color:#ddd;
    padding:3%;
    margin:2%;
  }
}
